Support for additional X.509 JWT headers

## Summary

The `JWTHeader` class (`lib/one-core/src/proto/jwt/model.rs`) currently supports the X.509 certificate chain header `x5c` ([RFC7515 §4.1.6](https://www.rfc-editor.org/rfc/rfc7515.html#section-4.1.6)), but not other optional X.509 headers:

 - `x5u` (RFC7515 §4.1.5)
 - `x5t` (RFC7515 §4.1.7)
 - `x5t#S256` (RFC7515 §4.1.8)

While these headers are optional in the RFC, they are needed for eIDAS2 and EUDI Wallet alignment and Qualified Electronic Attestation of Attributes (QEAAs) issuance, according to [ETSI TS 119 472-1 v1.2.1](https://www.etsi.org/deliver/etsi_ts/119400_119499/11947201/01.02.01_60/ts_11947201v010201p.pdf).

## Current behaviour

The `JWTHeader` class only supports the `x5c` header.

## Expected behaviour

The following JWT headers should be configurable as well:
 - `x5u`
 - `x5t`
 - `x5t#S256`

## Motivation

According to TS 119 472-1 §7.6.2 and TS 119 472-1 §6.6.2, Qualified EAAs shall include these fields in the credential protected header. Furthermore, the lack of the `x5u` header prevents interoperability in cloud-signing scenarios where certificates are stored externally (e.g. in a HSM). This header is also needed for eIDAS2 compliance.

In addition to this, the `x5t` and `x5t#S256` headers allow the recipients to validate that the certificate referenced through the `x5u` header matches the expected certificate.


Hi @DavSanOl 

Thank you for the detailed report.

We agree that these headers should be supported. We will take this into account as part of our EUDI/QEAA interoperability work and have it on the roadmap.

Could you clarify the use-case for external storage? The certificate in itself is not a secret and should (can optionally) be provided as `x5c` in the header (see e.g. QEAA-5.6.2-03). So for us, the `x5u` option will likely be in addition to the `x5c` header.

Hi! Sorry for the late response.

You're right! The certificate could indeed be provided in the `x5c` header in that specific scenario, as you mentioned. 
Having both options configurable would still cover all cases well.

Thanks for adding it to the roadmap!

Dear @DavSanOl,

In the current release (https://github.com/procivis/one-core/releases/tag/v1.81.3), we have introduced support for the x5u and x5t headers and now include them in credentials issued with X.509 certificates.

As this has now been implemented, I’ll close this issue. If you notice anything missing or encounter any problems, please feel free to leave a comment.